<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <ul class='social-icons'>
          <li>
          <a href='https://twitter.com/evrcm' target='_blank' class='fa-twitter'></a>
          </li>
          <li>
          <a href='https://www.facebook.com/evrcm' target='_blank' class='fa-facebook'></a>
          </li>
          <li>
          <a href='http://plus.google.com/+evercam' target='_blank' class='fa-google-plus'></a>
          </li>
          <li>
          <a href='http://www.linkedin.com/company/evercam' target='_blank' class='fa-linkedin'></a>
          </li>
          <li>
          <a href='http://github.com/evercam' target='_blank' class='fa-github'></a>
          </li>
        </ul>
		<div class="menu_footer">
			<span>
			  <a href='/about'>About Us</a>
			  <a href='/terms'>Terms</a>
			  <a href='/privacy'>Privacy</a>
			  <a href='/jobs'>Jobs</a>
			</span>
		</div>
      </div>
    </div>
  </div>
</footer>

