<title><%= [@title, 'evercam.io'].compact.join(' · ') %></title>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>

<link rel='icon' href='img/favicon.ico' type='image/x-icon'>
<link rel='shortcut icon' href='img/favicon.ico' type='image/x-icon'>

<meta name='description' content='Your description'>
<meta name='keywords' content='Your keywords'>
<meta name='author' content='Your name'>

<link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
<link rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.1/css/font-awesome.min.css'>
<link rel='stylesheet' href='/css/template.bootstrap.css'>

<script src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
<script src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js'></script>

