<header id='header'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <div class='header-block clearfix'>
		  <h1>
			<a class='navbar-brand' href='/'>
			  <img id='logo' src='/img/logo.svg'>
			</a>
		  </h1>
		  <ul class='nav tm-navbar navbar-nav sf-menu' role="navigation">
			<li class='hidden-sm'><a href='/'>Home</a></li>
			<li><a href='/connect'>Connect</a></li>
			<li><a href='/docs'>Develop</a></li>
			<li><a href='/marketplace'>Marketplace</a></li>
			<li><a href='/login'>Sign In</a></li>
		  </ul>
        </div>
      </div>
    </div>
  </div>
</header>

