<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Getting Started</h1>
      <p>Below you'll find tutorials that will teach you how to use Evercam, and reference documentation for all the moving parts.</p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6">
      <h5>On your website</h5>
      <p>Start accepting payments on your website, with our JavaScript libraries. <a href="#">Learn more</a></p>
    </div>
    <div class="col-sm-6">
      <h5>In your mobile app</h5>
      <p>We have the toolkits for native iPhone and Android applications. <a href="#">Learn more</a></p>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <h4>Need Help?</h4>
      <p>We&apos;re always happy to help out with code or any other questions you might have. <a href="#">Learn more</a></p>
      <h4>API mailing list</h4>
      <p>Building a third party integration or Connect application? Join our mailing list to be notified of API changes and stay up to date. <a href="#">View mailing list</a></p>
      <h4>Resources</h4>
      <ul>
        <li><a href="#">API Libraries</a></li>
        <li><a href="#">Example Projects</a></li>
      </ul>
    </div>
  </div>
    
    
      