<div class="developer">

  <div class="row">
    <div class="col-sm-10">
      <h1>Getting Started</h1>
      <p>Welcome to the developer area. Here you'll find all the API references and links to client libraries that you'll need to get started with Evercam today.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="devIcons">
        <p><a href="https://github.com/evercam/evercam.js" target="_blank" title="On your website"><img src="/img/browser2.svg" height="120" alt="browser"></a></p>
        <h5>On your website</h5>
        <p>Add a camera to your website today with our JavaScript libraries. <a href="https://github.com/evercam/evercam.js" target="_blank" title="On your website">Learn more</a></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="devIcons">
        <p><a href="https://github.com/evercam" target="_blank" title="In your applications"><img src="/img/mobiles1.svg" height="120" alt="mobiles"></a></p>
        <h5>In your applications</h5>
        <p>We also provide client libraries for most major programming languages. <a href="https://github.com/evercam" target="_blank" title="In your applications">Learn more</a></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10">
      <div class="bottomRow">
        <h5>Getting help</h5>
        <p>We&apos;re always happy to help out with any technical questions or concerns you have and we love to hear about projects using Evercam. You can either contact us using the <a href="/contact">online</a> form or you'll usually find one of us in <a href="http://webchat.freenode.net/?randomnick=1&channels=%23evercam">#evercam</a> on IRC freenode.</p>
        <h5>Starting points</h5>
        <p>After <a href="/signup">signing up</a> and confirming your account, we recommend the following starting points as they quickly cover what most developers want to achieve.</p>
        <ul>
          <li><a href="/docs/api/v1/authentication">Authenticating to the API</a></li>
          <li><a href="/docs/api/v1/streams#post">Connecting a new Stream</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>

