<h1>Woops! - 400 Bad Request</h1>

<div>
  <p>
  Uh Oh! It looks like something went wrong with your last request. Hopefully this error message will help you out.
  </p>
  <div class='alert alert-danger'>
    <%= @error.message %>
  </div>
</div>

