<p>
As this is a public open access section of the Evercam API, no authentication or authorization details are required. However, if you do provide these details the operation will be processed as normal.
</p>

