<p>
As this is a private access section of the Evercam API, authentication and authorization details are required. If you do not provide authentication information the server will respond with a <span class='label label-danger'>401 UNAUTHORIZED</span> status. If you do not have authorization to complete the requested operation the server will respond with a <span class='label label-danger'>403 FORBIDDEN</span> status. Please review the <a href='authentication'>Authentication</a> section of the API documentation for available mechanisms.
</p>

