<p>
As this is a public open access section of the Evercam API, no authentication or authorization details are required. However, if you do provide these details the operation will be processed as normal. This operation should always respond with a <span class='label label-success'>200 OK</span> status provided the requested data is available. If the requested data is not available or does not exist then the call will respond with a <span class='label label-danger'>404 NOT FOUND</span> status.
</p>

