<h1>Models</h1>
<p>
The models section of the API covers all operations which return information about camera manufacturers and the known model configurations and variants. This information is being continually updated by Evercam and as such, it is not recommended to cache this data locally within your own application for longer than nessesary.
</p>

<%= partial('docs/api/v1/_is_public') %>

<h4>GET /v1/models</h4>
<p>
This operation returns a list of all IP camera vendors along with any MAC address prefixes they are known to use and the list of model names we currently hold configuration information about on Evercam. Further information for a particular model is avaiable through one of the more specific endpoints listed below.
</p>
<p>
A typical <span class='badge'>curl</span> command to GET the data for all IP camera vendors would look like this:
</p>
<pre><code class='http'>curl -X GET https://api.evercam.io/v1/models
</code></pre>
<pre><code class='json'>{
  "vendors": [{
    "id": "ycam",
    "name": "Y-cam Solutions",
    "known_macs": ["00:0D:F0"],
    "models": ["YCW005", "YCB005", "YCWHD5", ... ]
  },{
    "id": "tplink",
    ...
  }]
}
</code></pre>

<h4>GET /v1/models/{vendor}</h4>
<p>
This operation returns the generic defaults and capability information for a particular vendor. It can be used as a model configuration of last resort in cases where an exact name is unknown or is not currently listed on Evercam. It should be noted that the details provided via this endpoint may not be correct for your particular model and as such, more accurate information should be retrieved via the specific model call where possible.
</p>
<p>
A typical <span class='badge'>curl</span> command to GET the generic model data for a particular vendor would look like this:
</p>
<pre><code class='http'>curl -X GET https://api.evercam.io/v1/models/ubiquiti
</code></pre>
<pre><code class='json'>{
  "vendors": [{
    "id": "ubiquiti",
    "name": "Ubiquiti Networks",
    "known_macs": ["04:18:D6"],
    "firmwares": [{
      "name": "*",
      "auth": {
        "basic": {
          "username": "aaaa",
          "password": "bbbb"
        }
      }
    }]
  }]
}
</code></pre>

<h4>GET /v1/models/{vendor}/{model}</h4>
<p>
This operation matches a known MAC address (first three octects or all six) with possible vendors and returns all information for those vendors including default settings for known different firmware configurations.
</p>
<p>
A typical <span class='badge'>curl</span> command to GET the data for a particular model would look like this:
</p>
<pre><code class='http'>curl -X GET https://api.evercam.io/v1/models/ycam/YCW005
</code></pre>
<pre><code class='json'>{
  "vendors": [{
    "id": "ubiquiti",
    "name": "Ubiquiti Networks",
    "known_macs": ["04:18:D6"],
    "firmwares": [{
      "name": "*",
      "auth": {
        "basic": {
          "username": "aaaa",
          "password": "bbbb"
        }
      }
    }]
  },{
    "id": "tplink",
    ...
  }]
}
</code></pre>

