<h1>Users</h1>

<h4>POST /v1/users</h4>
<p>
This operation starts the process of creating a new user. It expects the basic user information such as forename, lastname, email, etc and will begin the process of signing up a new user by sending a confirmation link to the supplied email. If the supplied information is valid the server will respond with a <%= code(201) %> status. Any invalid information will cause the server to respond with a <%= code(400) %> status.
</p>
<h5>Example Request</h5>
<pre><code class='http'>curl -X POST https://api.evercam.io/v1/users \
  -d "forename=Joe" \
  -d "lastname=Bloggs" \
  -d "email=joe.bloggs@example.org" \
  -d "username=joeyb" \
  -d "country=us"
</code></pre>
<h5>Example Success Response</h5>
<pre><code class='json'>{
  "users": [{
    "id": "joeyb",
    "forename": "Joe",
    "lastname": "Bloggs",
    "email": "joe.bloggs@example.org",
    "country": "us",
    "created_at": 1386582328,
    "updated_at": 1386582328,
    "confirmed_at": null
  }]
}
</code></pre>
<h5>Example Failure Response</h5>
<pre><code class='json'>{
  "message": [
    "Username already exists",
    ...
  ]
}
</code></pre>

<h4>GET /v1/users/{username}/streams</h4>
<p>
This operation returns the list of streams a user currently has ownership of. It operates in both public access and protected access modes. If you do not provide any authentication information along with the request it will return all of the users public streams. If you provide authentication information it will return the list of public streams and streams owner by the user that you have been granted view access on. Provided the <strong>{username}</strong> exists the server will respond with a <%= code(200) %> status. If the username does not exist the server will respond with a <%= code(404) %> status.
<h5>Example Request</h5>
<pre><code class='http'>curl -X GET https://api.evercam.io/v1/users/{username}/streams \
  -u {your-username}
</code></pre>
<h5>Example Response</h5>
<pre><code class='json'>{
 "streams": [{
    "id": "my-stream-name",
    "owner": "{your-username}",
    "created_at": 1387370779,
    "updated_at": 1387370779,
    "endpoints": ["http://127.0.0.1:8080"],
    "is_public": true,
    "snapshots": {
      "jpg": "/onvif/snapshot"
    },
    "auth": {
      "basic": {
        "username": "user1",
        "password": "abcde"
      }
    }
  },{
    "id": "my-other-stream",
    ...
  }]
}

</code></pre>

