<h1>Vendors</h1>
<p>
The vendors section of the API covers all operations which return information about hardware producers and various known model configurations.
</p>

<h4>GET /v1/vendors</h4>
<p>
This operation returns a list of all currently known vendors along with any MAC address prefixes they are known to use.
</p>
<p>
A typical cURL command to GET the data for all vendors would look like this:
</p>
<pre><code class='bash'>curl -X GET https://api.evercam.io/v1/vendors
</code></pre>
<p>
<p>
As this is a public section of the API no authentication or authorization details are required. However, if you do provide these details the operation will still be processed as normal. This operation should always respond with an <span class='label label-success'>OK 200</span> status along with data in the following format:
</p>
<pre><code class='json'>{
  "vendors": [{
    "id": "ycam",
    "name": "Y-cam Solutions",
    "known_macs": ["00:0D:F0"]
  },{
    "id": "tplink",
    ...
  }]
}
</code></pre>

<h4>GET /v1/vendors/{id}</h4>
<p>
This operation returns all information for a particular vendor including default settings for known different model configurations.
</p>
<p>
A typical cURL command to GET the data for any particular vendor would look like this:
</p>
<pre><code class='bash'>curl -X GET https://api.evercam.io/v1/vendors/{vendor}
</code></pre>
<p>
<p>
As this is a public section of the API no authentication or authorization details are required. However, if you do provide these details whe operation will still be processed as normal. Provided the vendor exists, an <span class='label label-success'>OK 200</span> status will be returned along with data in the format below. If the vendor does not exist or is unknown a <span class='label label-danger'>NOT FOUND 404</span> will be returned.
</p>
<pre><code class='json'>{
  "vendors": [{
    "id": "ubiquiti",
    "name": "Ubiquiti Networks",
    "known_macs": ["04:18:D6"],
    "models": [{
      "name": "*",
      "auth": {
        "basic": {
          "username": "aaaa",
          "password": "bbbb"
        }
      }
    }]
  }]
}
</code></pre>

