<h1>
  Approve Access
</h1>
<h2>
  #{@req.client.name} has requested access to the following resources
</h2>
<div>
  <% @req.missing.each do |s| %>
    <%= s.resource.name %>
  <% end %>
</div>
<div>
  <form method='POST'>
    <button type='submit' name='action' value='approve' class='btn btn-success'>
      Approve
    </button>
    <button type='submit' name='action' value='decline' class='btn btn-danger'>
      Decline
    </button>
  </form>
</div>

