<h1>Hi <%= @user.forename %></h1>
<p>
We're working super hard to bring you a <strong>great</strong> Evercam experience, until then why not browse through our ever growing documentation and think about all the wonderful apps that are headed your way.
</p>
<p>
Best regards<br />
The Evercam Team
</p>

