
<div class="addCamera">
  <h1>Hi <%= @user.forename %></h1>
  <p>We're working super hard to bring you a <strong>great</strong> Evercam experience, until then why not browse through our ever growing documentation and think about all the wonderful apps that are headed your way.</p>
  <p>Best regards,<br />The Evercam Team.</p>

  <!-- Button trigger modal -->

  <div class="row">
    <div class="col-sm-2 col-sm-offset-10">
      <div class="addButton">
        <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">Add Camera</button>
      </div>
    </div>
  </div>
  
<div class="border-1"></div>
  
<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="streamList">
      <div class="streamContainer">
        <div class="row">
          <div class="CameraInfo">
            <div class="col-sm-12">
              <img class="pull-left" src="/img/rememberance.jpg" width="265px" >
              <h4>Rememberance Cam</h4>
              <div class="online">
                <p><i class="fa fa-1x fa-plus-circle icon-align-center"></i>Online</p>
              </div>
              <p>Details about the camera</p>
              <p>Details about the camera</p>
              <h5>Last Entry:</h5>
              <p class="userInfo">Last entry user info goes here...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="border-1"></div>

<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="streamList">
      <div class="streamContainer">
        <div class="row">
          <div class="CameraInfo">
            <div class="col-sm-12">
              <img class="pull-left" src="/img/rememberance.jpg" width="265px" >
              <h4>Rememberance Cam</h4>
              <div class="offline">
                <p><i class="fa fa-1x fa-minus-circle icon-align-center"></i>Offline</p>
              </div>
              <p>Details about the camera</p>
              <p>Details about the camera</p>
              <h5>Last Entry:</h5>
              <p class="userInfo">Last entry user info goes here...</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="border-1"></div>





<br/>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Camera Details:</h4>
        </div>
        <div class="modal-body">
      
          <div class="addCamera_container">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="inputEmail3" class="col-sm-3 control-label">Camera Name:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputArea" placeholder="Camera Name">
                </div>
              </div>
                
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">URL or IP:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="inputArea" placeholder="Public IP / Dydns">
                  <p>e.g. 149.237.190.68 - or - test.dydns.com</p>
                </div>
              </div>
           
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Credentials:</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="inputArea" placeholder="Username">
                  </div>
                  <div class="col-sm-4">
                    <input type="Password" class="form-control" id="inputArea" placeholder="Password">
                  </div>
              </div>
              
              <div class="form-group">
                <label for="inputPassword3" class="col-sm-3 control-label">Camera Ports:</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputArea" placeholder="HTTP Port">
                  <p>e.g. 80</p>
                </div>
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="inputArea" placeholder="RTSP Port">
                  <p>e.g. 554</p>
                </div>
              </div>

            </form>
          </div>
        </div>
          
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">ADD</button>
        </div>
        
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
 
</div>
