<!DOCTYPE html>
<html>
<head>
  <title>evercam.io</title>
  <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
</head>
<body>
  <div class='container'>
    <%= yield %>
  </div>
</body>

