<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <h3>Contact Us</h3>
      <div class="contactform_container">
        <form method="POST" class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <input type="text" class="form-control" name="name" id="inputEmail3" placeholder="Name">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <input type="email" class="form-control" name="email" id="inputEmail3" placeholder="Email">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-8 col-sm-offset-2">
              <textarea class="form-control" id="inputWhat" name="body" placeholder="Your message"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
              <button type="submit" class="btn btn-default" id="submit" >Submit</button>
            </div>
          </div>
        </form>
      </div><!-- end contactform_container -->
      <div class="address">
        <div class="col-md-6">
          <h4>Dublin</h4>
          <p>The Ierne Ballroom, 12 Parnell Square East, Dublin 1, <br/>Ireland</p>
          <p>Telephone:  +353 (1) 538 3333</p>
          <p>E-Mail: <a href="mailto:info@evercam.io">howrya@evercam.io</a></p>
            <div class="map">
              <script type="text/javascript" src="http://www.webestools.com/google_map_gen.js?lati=53.354328&long=-6.262840&zoom=18&width=480&height=300&mapType=normal&map_btn_normal=yes&map_btn_satelite=yes&map_btn_mixte=yes&map_small=yes&marqueur=yes&info_bulle="></script>
            </div>
          </div>
        <div class="col-md-6">
          <h4>Mountain View, California</h4>
          <p>800 W. El Camino Real, Suite 350, Mountain View,<br/> CA 94040, USA</p>
          <p>Telephone:  +1 (650) 419 3588</p>
          <p>E-Mail: <a href="mailto:info@evercam.io">whassup@evercam.io</a></p>
          <div class="map"><iframe src="https://mapsengine.google.com/map/u/0/embed?mid=zo2fMMAkgMMs.kzJ0biOyIYMo" width="640" height="480"></iframe></div>

          
          <div id="myMap">
          
          </div>

        </div>
      </div><!-- end address -->
    </div>
  </div>
</div>


