<% @title = 'Home' %>

  <div id="beta">
    <div class="container">

      <div class="row">
        <div class="col-xs-12">
            <div class="camera_wrap">
              <div class="image">
                <h2>Making Cameras More Useful</h2>
                  <div class="imageButton">
                  </div>
                  <h4>With Evercam, you write software once and it works with over 1,600 cameras.</h4>
                  <h4>OAuth 2.0 RESTful JSON API's use the standards you already know.</h4>
                <div class="border-4"></div>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
