<h1><%= @title = 'Sign in' %></h1>

<form role='form', method='POST'>

  <div class='form-group'>
    <label for='username'>Username or Email</label>
    <input class='form-control' name='username' type='text' placeholder='Username or Email' required>
  </div>

  <div class='form-group'>
    <label for='password'>Password</label>
    <input class='form-control' name='password' type='password' placeholder='Password' required>
  </div>

  <input class='btn btn-primary' type='submit' value='Sign in'>

</form>

