	<% @title = 'Media' %> 
	<div class="container">  
		<h1 class="center indent-1"><span></span></h1>			
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/evercam_original.svg" alt="logo">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">100x60</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/evercam_original.svg" alt="logo">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">250x150</p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/evercam_original.svg" alt="logo">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/Logo_PrgCamera.svg" alt="logo programmable">
					<p class="imgFile"><a href="">PNG</a></p>
				<p class="imgSize">100x60</p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/Logo_PrgCamera.svg" alt="logo programmable">
					<p class="imgFile"><a href="">SVG</a></p>
					<p class="imgSize">250x150</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/Logo_PrgCamera.svg" alt="logo programmable">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/Logo_e.svg" height="100px" alt="logo e">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">50x50</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/Logo_e.svg" height="100px" alt="logo e">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/mkCamerasPrg.svg" alt="making cameras programmable">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">100x60</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/mkCamerasPrg.svg" alt="making cameras programmable">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">250x150</p>
				</div>
			</div>		
		</div><!-- end row -->
		
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/mkCamerasPrg.svg" alt="making cameras programmable">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/Logo_cameraUnleashed.svg" alt="cameras unleashed">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">250x150</p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/Logo_cameraUnleashed.svg" alt="cameras unleashed">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">100x60</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/Logo_cameraUnleashed.svg" alt="cameras unleashed">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/incrCamFunction.svg" alt="increasing cameras functionality">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">250x150</p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/incrCamFunction.svg" alt="increasing cameras functionality">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">100x60</p>
				</div>
			</div>
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/incrCamFunction.svg" alt="increasing cameras functionality">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/App_icon_512x512.png" width="120px" alt="App Icon">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">50x50</p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/App_icon_512x512.png" width="120" alt="App Icon">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
				<div class="col-sm-6 ">
					<img src="/img/e_RED_DOT.svg" width="120px" alt="Favicon Red Dot">
					<p class="imgFile"><a href="">PNG</a></p>
					<p class="imgSize">50x50</p>
				</div>
			</div>		
		</div><!-- end row -->
		<div class="row">
			<div class="img_container">
				<div class="col-sm-6 ">
					<img src="/img/e_RED_DOT.svg" width="120" alt="Favicon Red Dot">
					<p class="imgFile"><a href="">SVG</a></p>
				</div>
			</div>		
		</div><!-- end row -->
	</div><!-- end container -->
