<% @title = 'Terms' %> 
<div class='container'>
  <div class='col-sm-3 left-nav'>
	<div class="termsHeading">
		<h1>Terms & Conditions</h1>
			<ul>
			  <li><a href='#definitions'>Definitions</a></li>
			  <li><a href='#notifications'>Notifications</a></li>
			  <li><a href='#licence'>Licence Grant & Restrictions</a></li>
			  <li><a href='#responsibilities'>Your Responsibilities</a></li>
			  <li><a href='#account'>Account Information and Data</a></li>
			  <li><a href='#ipr'>Intellectual Property Rights</a></li>
			  <li><a href='#interactions'>Third Party Interactions</a></li>
			  <li><a href='#charges'>Charges and Payment of Fees</a></li>
			  <li><a href='#protection'>Data Protection</a></li>
			  <li><a href='#storage'>Data Storage</a></li>
			  <li><a href='#suspension'>Non-Payment and Suspension</a></li>
			  <li><a href='#termination'>Term and Termination</a></li>
			  <li><a href='#warranties'>Representations & Warranties</a></li>
			  <li><a href='#indemnification'>Mutual Indemnification</a></li>
			  <li><a href='#disclaimer'>Disclaimer of Warranties</a></li>
			  <li><a href='#delays'>Internet Delays</a></li>
			  <li><a href='#liability'>Limitation of Liability</a></li>
			  <li><a href='#notice'>Notice</a></li>
			  <li><a href='#modification'>Modification to Terms</a></li>
			  <li><a href='#assignment'>Assignment or Change in Control</a></li>
			  <li><a href='#general'>General</a></li>
			</ul>
	</div>
  </div>

  <div class='col-sm-9'>
    <h3>End User Licence Agreement</h3>

    <p>THIS IS AN IMPORTANT LEGAL AGREEMENT. BY SIGNING UP TO THE SERVICE, YOU ARE ACCEPTING THE TERMS AND CONDITIONS OF THIS LICENCE AGREEMENT IN THEIR ENTIRETY AND YOU ARE AGREEING TO BE LEGALLY BOUND BY THIS LICENCE AGREEMENT. IF YOU DO NOT AGREE TO ALL OF THE TERMS AND CONDITIONS OF THIS LICENCE AGREEMENT YOU MAY NOT USE THE SERVICE AND MUST IMMEDIATELY CEASE ANY SUCH USE. PLEASE READ THIS LICENCE AGREEMENT CAREFULLY.</p>
    <p>This End User Licence Agreement (&quot;Agreement&quot;) is a binding legal agreement between Evercam Limited, with company number 490988 and whose registered office is at 12, Parnell Square East, Dublin, Co. Dublin and You (being the customer identified below) pursuant to which You are provided with a licence to use the Evercam service, in accordance with the provisions of this Agreement and the Service (as defined below).If You are entering into this Agreement on behalf of a company or other legal entity, You represent that You have the authority to bind such entity to these terms and conditions, in which case the terms &quot;You&quot; and &quot;Your&quot; shall refer to such entity. Your registration for, or use of, the Service shall be deemed to be Your agreement to abide by this Agreement including any materials made available to You by Evercam, including but not limited to Evercam &apos;s privacy and security policies which You acknowledge having reviewed.</p>

    <h4><a name='definitions'>Definitions</a></h4>
    <p>As used in this Agreement now or hereafter associated herewith:</p>
    <p><strong>&quot;Agreement&quot;</strong> means these online terms of use and any materials available on the Evercam website specifically incorporated by reference herein, as such materials, including the terms of this Agreement, may be updated by Evercam from time to time in its sole discretion;</p>
    <p><strong>&quot;Content&quot;</strong> means the audio and visual information, documents, software, products and services contained within, or made available to You in the course of using, the Service;</p>
    <p><strong>&quot;Customer Data&quot;</strong> means any audio or visual or other data, information or material provided or submitted by You to the Service in the course of using the Service;</p>
    <p><strong>&quot;Effective Date&quot;</strong> means the earlier of either the date this Agreement is accepted or the date You begin using the Service;</p>
    <p><strong>&quot;Term&quot;</strong> means the contract term, beginning on the Effective Date and ending on termination of this Agreement in accordance with clause 12;</p>
    <p><strong>&quot;Intellectual Property Rights&quot;</strong> means unpatented inventions, patent applications, patents, design rights, copyrights, trademarks, service marks, trade names, domain name rights, mask work rights, know-how and other trade secret rights, and all other intellectual property rights, derivatives thereof, and forms of protection of a similar nature anywhere in the world;</p>
    <p><strong>&quot;Minimum Contract Periods&quot;</strong> means the minimum contract period of 18 Months that You are required to enter into to use the Service.</p>
    <p><strong>&quot;Evercam&quot;</strong> means Evercam Limited an Irish private limited company (company number 490988 and whose registered office is at 12, Parnell Square, Dublin, Co. Dublin)</p>
    <p><strong>&quot;Evercam&apos; Technology&quot;</strong> means all of Evercam&apos;s proprietary technology (including software, hardware, products, processes, algorithms, user interfaces, know-how, techniques, designs and other tangible or intangible technical material or information) made available to You by Evercam in providing the Service;</p>
    <p><strong>&quot;Reseller&quot;</strong> means an independent contractor or business entity who has signed a reseller agreement with Evercam to sell licenses of Services to end users;</p>
    <p><strong>&quot;Service&quot;</strong> means access to the specific edition of Evercam&apos;s online goal setting and performance management system, developed, operated, and maintained by Evercam, accessible via cloud, evercam.io or another designated web site or IP address, and ancillary online or offline products and services provided to You by Evercam, to which You are being granted access under this Agreement, including the Evercam Technology and the Content;</p>
    <p><strong>&quot;User(s)&quot;</strong> means Your family members, employees, representatives, consultants, contractors or agents who are authorised to use the Service and have been supplied user identifications and passwords by You (or by Evercam at Your request)</p>

    <h4><a name='notifications'>Notifications</a></h4>
    <p>You agree that because the Service is a hosted, online application, Evercam and its distributors may occasionally need to notify all users of the Service of important announcements regarding the operation of the Service, whether or not they have opted out of email notifications.</p>

    <h4><a name='licence'>Licence Grant & Restrictions</a></h4>
    <p>In consideration of You paying the applicable charges and fees as set out in clause 8 and agreeing to abide by the terms of and conditions of this Agreement Evercam hereby grants to You a non-exclusive, non-transferable, royalty free worldwide right to access and use the Service for the Term, solely for Your own internal business and private purposes, subject to the terms and conditions of this Agreement.</p>
    <p>All rights not expressly granted to You are reserved by Evercam and its licensors.</p>
    <p>You shall not (i) license, sublicense, sell, resell, transfer, assign, distribute or otherwise commercially exploit or make available to any third party the Service or the Content in any way; (ii) modify or make derivative works based upon the Service or the Content; (iii) create Internet   &quot;links   &quot; to the Service or    &quot;frame   &quot; or   &quot;mirror  &quot; any Content on any other server or wireless or Internet-based device; or (iv) reverse engineer or access the Service in order to (a) build a service, (b) build a product using the same or similar ideas, features, functions or graphics of the Service, or (c) copy any ideas, features, functions or graphics of the Service.</p>
    <p>User licenses cannot be shared or used by more than one individual User but may, [with the prior written consent of Evercam] be reassigned from time to time a new user who is replacing a former User who has terminated employment or otherwise changed job status or function and no longer uses the Service on behalf of the User company.</p>
    <p>You may not access the Service if You are a competitor of Evercam, except with Evercam&apos;s prior written consent, and failure to notify Evercam that You are a competitor and obtain Evercam's prior written consent to access the Service constitutes a breach of this Agreement by You.</p>
    <p>You may not access the Service for purposes of monitoring its availability, performance or functionality, or for any other benchmarking or competitive purposes.</p>
    <p>You may use the Service only for Your internal business and private purposes and You shall not: (i) download, distribute, store or use content that is not Yours or that You do not have the legal right to view or use; (ii) send or store infringing, obscene, threatening, libellous, or otherwise unlawful data, including material which violates any third party privacy rights; (iii) send or store material containing software viruses, worms, Trojan Horses, or other harmful computer code, files, scripts, agents or programs; (iv) interfere with or disrupt the integrity or performance of the Service or the data contained therein; or (v) attempt to gain unauthorized access to the Service or its related systems or networks.</p>

    <h4><a name='responsibilities'>Your Responsibilities</a></h4>
    <p>You are responsible for all activity occurring under Your User accounts and shall abide by all applicable local, provincial or state, national and foreign laws, treaties and regulations in connection with Your use of the Service, including those related to data protection and privacy, and the transmission of technical or personal data.</p>
    <p>You shall: (i) notify Evercam immediately of any unauthorised use of any password or account or any other known or suspected breach of security; (ii) report to Evercam immediately and use reasonable efforts to stop immediately any copying or distribution of Content by You or Your Users; and (iii) not impersonate another User or provide false identity information to gain access to or use the Service.</p>

    <h4><a name='account'>Account Information and Data</a></h4>
    <p>You agree that Evercam does not own any data, information or material that You submit to the Service in the course of using the Service (&quot;Customer Data&quot;)..</p>
    <p>You agree that You, not Evercam, shall have sole responsibility for the accuracy, quality, integrity, legality, reliability, appropriateness, and intellectual property ownership or right to use of all Customer Data, and Evercam shall not be responsible or liable for the deletion, correction, destruction, damage, loss or failure to store any Customer Data.</p>
    <p>Evercam shall have the right to withhold, remove and/or discard Customer Data without notice for any breach, including, without limitation, Your non-payment. Upon termination of this Agreement by Evercam as a result of Your breach, Your right to access or use Customer Data immediately ceases, and Evercam shall have no obligation to maintain or forward any Customer Data.</p>

    <h4><a name='ipr'>Intellectual Property Rights</a></h4>
    <p>You agree that Evercam alone (and/or its licensors, where applicable) owns all right, title and interest, including all intellectual property rights, in and to the Evercam Technology and Content or arising out of or in connection with the Service and any suggestions, ideas, enhancement requests, feedback, recommendations or other information provided by You or any other party relating to the Service.</p>
    <p>You agree that this Agreement does not convey to You any rights of ownership in or related to the Service, the Evercam Technology or the intellectual property rights owned by Evercam.</p>
    <p>You agree that the Evercam name, the logo, and the product names associated with the Service are trademarks of Evercam or licensed to Evercam third parties where applicable and no right or license is granted to use them under this Agreement.</p>

    <h4><a name='interactions'>Third Party Interactions</a></h4>
    <p>Evercam and its licensors shall have no liability, obligation or responsibility for any data exchange, correspondence, or interaction between You and any third-party in relation to the Service. Evercam does not endorse any sites on the Internet, products or tools that are linked through the Service.</p>
    <p>Evercam provides these links to You only as a matter of convenience, and in no event shall Evercam or its licensors be responsible for any content, products, or other materials on or available from such sites or for any loss or damage that may arise from Your use of them. Evercam provides the Service to You pursuant to the terms and conditions of this Agreement. You agree that certain third-party providers of ancillary software, hardware or services may require Your agreement to additional or different license or other terms prior to Your use of or access to such software, hardware or services.</p>

    <h4><a name='charges'>Charges and Payment of Fees</a></h4>
    <p>You shall pay all fees or charges plus any and all applicable taxes to Your account in accordance with the fees, charges, and billing terms detailed at time of purchase in effect with Evercam or Your Reseller at the time a fee or charge is due and payable. You agree to Evercam storing Your payment card information for such purposes. Your obligation to pay fees or charges continues until this Agreement is either terminated or expires.</p>
    <p>All fees and charges are non-refundable and there are no refunds or credits for partially used periods. All features acquired as part of Your account, expire immediately upon termination or expiration of Your account.</p>

    <h4><a name='protection'>Data Protection</a></h4>
    <p>For the purposes of the Data Protection Acts 1988 and 2003 (the &quotActs&quot), You, as Data Controller, shall obtain any and all data protection consents required to permit Evercam to hold, use, disclose or otherwise process any Personal Data contained within the Customer Data (where &quotData Controller&quot and &quotPersonal Data&quot has the same meaning as in the Acts) for the purposes of providing the Services.</p>
    <p>Evercam shall process the Personal Data only on and subject to Your instructions from time to time and shall not process the Data for any other purpose. Evercam shall implement and maintain appropriate technical and organisational security measures against unauthorised access to, or unauthorised alteration, disclosure or destruction of, the Personal Data.</p>
    <p>You agree that You are and shall remain solely responsible for determining the contents and use of the Personal Data. You acknowledge that you are a Data Controller in relation to the Personal Data and is a Data Processor in relation to the Personal Data.</p>
    <p>You shall indemnify and keep indemnified Evercam against all losses, damages, costs, expenses and liabilities arising as a result of any breach by You of Your obligations under this Clause 9 and the Acts including without limitation arising as a result of any complaint or claim by a data subject/individual or any investigation by the Office of the Data Protection Commissioner in respect of the processing of the Personal Data by Evercam.</p>
    <p>Evercam acknowledges that it is the Data Controller in respect of any personal account information provided by You when subscribing to the Service. Evercam shall comply with its Data Protection obligations in relation to processing of that data and shall only retain this data for as long as is necessary to perform the Services and meet its obligation under this Agreement.</p>

    <h4><a name='storage'>Data Storage</a></h4>
    <p>All information You provide to us is stored on our secure servers. Details relating to any transactions will be encrypted using SSL technology. The maximum disk storage space provided to You at no additional charge is as specified in at the time of purchase from Evercam or Your Reseller. Additional Data will be recorded over the Data already stored in a FIFO (First In First Out) fashion. Evercam and its Resellers reserve the right to establish or modify its general practices and limits relating to storage of files and Customer Data.[1]</p>

    <h4><a name='suspension'>Non-Payment and Suspension</a></h4>
    <p>In addition to any other rights granted to Evercam hereinor Your Reseller, we reserve the right to suspend or terminate this Agreement and Your access to the Service if You fail to make a payment due under this Agreement.</p>
    <p>Evercam and Your Reseller reserve the right to impose a reconnection fee in the event Your access to the Service is suspended and thereafter You remedy the breach and are granted access to the Service. You agree and acknowledge that Evercam has no obligation to retain Customer Data and that such Customer Data may be irretrievably deleted if Your account is suspended for 30 days or more.</p>

    <h4><a name='termination'>Term and Termination</a></h4>
    <p>You may terminate this Agreement and the Services provided hereunder upon 30 days prior written notice at any time following the end of the Minimum Contract Period.</p>
    <p>Evercam may terminate this Agreement immediately if you commit a material or persistent breach of this Agreement which You fail to remedy (if remediable) within 30 days after the service on You of written notice requiring You to do so.</p>
    <p>Any breach of Your payment obligations or unauthorised use of the Evercam Technology, Content or Service will be deemed a material breach of this Agreement.</p>
    <p>Evercam and Your Reseller, in their sole discretion, may [terminate]/ [immediately suspend] Your password, account or use of the Service if You breach or otherwise fail to comply with this Agreement..</p>
    <p>Evercam may terminate any account at any time in its sole discretion.</p>
    <p>You agree and acknowledge that Evercam has no obligation to retain the Customer Data, and may delete such Customer Data, if You have materially or persistently breached this Agreement.</p>
    <p>Upon termination for any reason:</p><p>(a)all rights granted to You under this Agreement shall immediately cease;</p>
    <p>(b)You must immediately cease all activities authorised by this Agreement; and</p>
    <p>(c)You must immediately pay any sums due to Evercam under this Agreement.</p>

    <h4><a name='warranties'>Representations & Warranties</a></h4>
    <p>Each party represents and warrants that it has the legal power and authority to enter into this Agreement..</p>
    <p>You represent and warrant that You have not falsely identified Yourself nor provided any false information to gain access to the Service and that Your billing information is correct.</p>

    <h4><a name='indemnification'>Mutual Indemnification</a></h4>
    <p>You shall indemnify and hold Evercam, its licensors and each such party&apos;s parent organisations, subsidiaries, affiliates, associates and assignees, officers, directors, employees, and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including legal fees and costs) arising out of or in connection with: (i) any actual or threatened claim that use of the Customer Data infringes the rights of, or has caused harm to, a third party (ii) any actual or threatened claim caused by any infringement caused by the combination of the Service with any of Your products, service, and hardware or business process; (iii) any breach by You of Your representations and warranties; or (iv) any actual or threatened claim arising from the breach by You or Your Users of this Agreement, provided in any such case that Evercam (a) gives written notice of the claim promptly to You; (b) gives You sole control of the defense and settlement of the claim (provided that You may not settle or defend any claim unless You unconditionally release Evercam of all liability and such settlement does not affect&apos;s business or Service); (c) provides to You all reasonable assistance; and (d) has not compromised or settled such claim.</p>
    <p>Evercam shall indemnify and hold You and Your parent organisations, subsidiaries, affiliates, officers, associates and permitted assignees, directors, employees, and agents harmless from and against any and all claims, costs, damages, losses, liabilities and expenses (including attorneys&apos; fees and costs) arising out of or in connection with a claim alleging that the Service infringes a copyright, a patent granted as of the Effective Date, or a trademark of a third party; provided that You (a) promptly give written notice of the claim to Evercam; (b) give Evercam sole control of the defense and settlement of the claim (provided that You may not settle or defend any claim unless You unconditionally release Evercam of all liability); (c) provide to Evercam all reasonable assistance; and (d) have not compromised or settled such claim.</p>

    <h4><a name='disclaimer'>Disclaimer of Warranties</a></h4>
    <p>Evercam AND ITS LICENSORS MAKE NO REPRESENTATION, WARRANTY, OR GUARANTY AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, TRUTH, AVAILABILITY, ACCURACY OR COMPLETENESS OF THE SERVICE OR ANY CONTENT. Evercam AND ITS LICENSORS DO NOT REPRESENT OR WARRANT THAT (A) THE USE OF THE SERVICE WILL BE SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM OR DATA, (B) THE SERVICE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (C) ANY STORED DATA WILL BE KEPT, (D) THE QUALITY OF ANY PRODUCTS, SERVICES, INFORMATION, OR OTHER MATERIAL RECORDED BY YOU THROUGH THE SERVICE WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (E) ERRORS OR DEFECTS WILL BE CORRECTED, OR (F) THE SERVICE OR THE SERVER(S) THAT MAKE THE SERVICE AVAILABLE ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. THE SERVICE AND ALL CONTENT IS PROVIDED TO YOU STRICTLY ON AN &quot;AS IS&quot; BASIS. ALL CONDITIONS, REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS, ARE HEREBY DISCLAIMED TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW BY Evercam AND ITS LICENSORS.</p>

    <h4><a name='delays'>Internet Delays</a></h4>
    <p>The Service may be subject to limitations, delays, and other problems inherent in the use of the internet and electronic communications. Evercam is not responsible for any delays, delivery failures, or other damage resulting from such problems.</p>

    <h4><a name='liability'>Limitation of Liability</a></h4>
    <p>In no event shall Evercam&apos;s aggregate liability exceed the amounts actually paid by You in the one (1) month period immediately preceding the event giving rise to such claim.</p>
    <p>In no event shall either party and/or its licensors be liable to any other party for any indirect, punitive, special, exemplary, incidental or consequential damages (including loss of data, revenue, profits, use or other economic advantage) arising out of or under this Agreement.</p>

    <h4><a name='notice'>Notice</a></h4>
    <p>You may give notice to Evercam (such notice shall be deemed given when received by) at any time by any of the following: email sent to info@evercam.io; letter delivered by prepaid post to the head office location at 12, Parnell Square, Dublin, Co. Dublin.</p>
    <p>Such notice shall be deemed to have been received and properly served upon the expiration of 48 hours after mailing or posting.</p>

    <h4><a name='modification'>Modification to Terms</a></h4>
    <p>Evercam shall have the right to modify the terms and conditions of this Agreement or its policies relating to the Service at any time and upon fifteen (15) days&apos; prior notice. Continued use of the Service by You after any notice of such changes shall constitute Your consent to such changes and You shall be bound by the terms of this Agreement or Evercam&apos;s policies as amended.</p>

    <h4><a name='assignment'>Assignment or Change in Control</a></h4>
    <p>This Agreement is binding on You and us and on our respective successors and assigns.</p>
    <p>This Agreement may not be transferred, assigned, or otherwise disposed of by You without the prior written approval of Evercam.</p>
    <p>Evercam may transfer, assign, or otherwise dispose of this Agreement without Your consent to (i) a parent or subsidiary, (ii) an acquirer of assets, or (iii) a successor by merger.</p>
    <p>Any purported assignment in violation of this section shall be void.</p>
    <p>Any actual or proposed change in control of Your company that results or would result in a competitor of Evercam directly or indirectly owning or controlling 50% or more of Your company shall entitle Evercam to terminate this Agreement immediately upon written notice.</p>

    <h4><a name='general'>General</a></h4>
    <p>This Agreement shall be governed by the laws of the Republic of Ireland, without regard to the choice or conflicts of law provisions of any jurisdiction, and any disputes, actions, claims or causes of action arising out of or in connection with this Agreement or the Service shall be subject to the exclusive jurisdiction of the courts of Ireland.</p>
    <p>If any provision of this Agreement is held by a court of competent jurisdiction to be invalid or unenforceable, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the invalid or unenforceable provision(s), with all other provisions remaining in full force and effect. No joint venture, partnership, employment, or agency relationship exists between You and Evercam as a result of this agreement or use of the Service.</p>
    <p>A failure by Evercam to enforce any of its rights or any provision in this Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by Evercam in writing.</p>
    <p>This Agreement and any document expressly referred to in it comprises the entire agreement between You and Evercam and supersedes all prior or contemporaneous negotiations, discussions or agreements, whether written or oral, between the parties regarding the subject matter contained herein.</p>
  </div>
</div>

