<div class="addCamera">
  
  <br/><!-- Temp Line Breaks -->

  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">

      <div class="row">
        <div class="col-lg-6">
          <div class="streamList">
            <img evercam="<%= @camera.exid -%>" src="" width="450px" height="450px" >
          </div>
        </div>
        <div class="col-lg-6">
          <div class="stream">
          
            <div class="right_container">
              <div class="online">
                <h4><%= @camera.name -%></h4>
                <div class="positionTest">
                  <% if @camera.is_online == true %>
                  <p class="online"><i class="fa fa-1x fa-plus-circle icon-align-center"></i>Online</p>
                  <% elsif @camera.is_online == false %>
                  <p class="offline"><i class="fa fa-1x fa-minus-circle icon-align-center"></i>Offline</p>
                  <% else %>
                  <p class="unknown"><i class="fa fa-1x fa-adjust icon-align-center"></i>Unknown</p>
                  <% end %>
                </div>
              </div>
              <div class="camAddress" style="display: none">
                <p><i class="fa fa-1x fa-map-marker icon-align-center blue"></i>Garden of Remembrance, Parnell Square, Dublin 1.</p>
              </div>
              <div class="Refresh">
                <a href="#"><p><i class="fa fa-1x fa-repeat icon-align-center blue"></i>Refresh</p></a>
              </div>
              <div class="settingsButton">
                <button class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">SETTINGS</button>
              </div>

              <div class="urls">

              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="border-1"></div>
      
      <div class="row">
        <div class="col-sm-6">
          <h4>Permissions</h4>
          <div class="permissions">
            <table class="table table-condensed table-hover">
              <tr>
                <th>User</th>
                <th>App</th>
                <th>Permission</th>
                <th></th>
              </tr>
              <tr>
                <td>Marco</td>
                <td>Timelapse</td>
                <td>Read-only</td>
                <td width="10%"><a class="vanish" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
              <tr>
                <td> - </td>
                <td> - </td>
                <td>Full</td>
                <td width="10%"><a class="vanish" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
              <tr>
                <td>Paddy</td>
                <td>MMS</td>
                <td>Write</td>
                <td width="10%"><a class="vanish" href="#"><span class="glyphicon glyphicon-trash"></span></a></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="col-sm-6">
          <h4>Activity</h4>
          <div class="activityBox">
            <p>API Requests to this camera: 4837432 </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
            <p>Last request logged: 13th January 2013 14:12 GMT </p>
          </div>
        </div>
      </div>
      
      <div class="border-3"></div>
        
      <br/><br/><br/><!-- Temp Line Breaks -->
      
    </div>
  </div>

  <!-- Add Camera Form -->

  <%= partial 'users/cameras/camera_modal'.to_sym %>
</div>
